<h2>Airline: <%= @flight.airline.name %></h2>
<h2>Flight Number: <%= @flight.number %></h2>

<%= @flight.date %>
<%= @flight.time %>
<%= @flight.departure_city %>
<%= @flight.arrival_city %>

<ul>
<% @flight.passengers.each do |passenger| %>
<li><%= passenger.name %></li>
<% end %>
</ul>

<p>Number of Minors: <%= @flight.count_of_minors %></p>
<p>Number of Adults: <%= @flight.count_of_adults %></p>
